<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h5 *ngIf="purpose==='add'">Thêm mới công việc</h5>
<h5 *ngIf="purpose==='edit'">Sửa công việc</h5>
<mat-divider></mat-divider>
<div class="pt-3">
    <form [formGroup]="IOForm" class="pt-toolbar">
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Tên tiêu đề:</label>
            <div class="col-sm-8">
                <input class="form-control" [readonly]="checkDisableTittle" formControlName="title" placeholder="Tên tiêu đề" />
                <span *ngIf="formErrors.title" class="alert-danger">{{formErrors.title}}</span>
            </div>
        </div>
        <div class="form-group row mx-0 p-1" *ngIf="!RoleConstants.NHOMROLENHANVIEN.includes(this.currentUser.role)">
            <label class="col-sm-4 col-form-label text-left">Là công việc phát sinh:</label>
            <div class="col-sm-8">
                <input type="checkbox" class="form-check-input mt-2" formControlName="isRisingwork" />
            </div>

        </div>
        <div class="form-group row mx-0 p-1" *ngIf="RoleConstants.NHOMROLENHANVIEN.includes(this.currentUser.role)">
            <label class="col-sm-4 col-form-label text-left">Là công việc phát sinh:</label>
            <div class="col-sm-8">
                <input disabled type="checkbox" class="form-check-input mt-2" formControlName="isRisingwork" />
            </div>

        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Mô tả:</label>
            <div class="col-sm-8">
                <textarea class="form-control" formControlName="description" placeholder="Mô tả"></textarea>
            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Đường dẫn:</label>
            <div class="col-sm-8">
                <textarea class="form-control" formControlName="url" placeholder="Đường dẫn"></textarea>
            </div>
        </div>

        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Nhiệm vụ:</label>
            <div class="col-sm-8">
                <mat-select class="form-control" formControlName="idProject" placeholder="Chọn nhiệm vụ"
                    (selectionChange)="getUserListByProject()">
                    <mat-option *ngFor="let duan of listDuan " [value]="duan.id">
                        {{ duan.name }}
                    </mat-option>
                </mat-select>
                <span *ngIf="formErrors.idProject" class="alert-danger">{{formErrors.idProject}}</span>
            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Phòng ban/Nhóm:</label>
            <div class="col-sm-8">
                <mat-select class="form-control" formControlName="idTeam" placeholder="Chọn phòng ban/nhóm"
                    [disabled]='true'>
                    <mat-option *ngFor="let team of listTeam " [value]="team.id">
                        {{ team.name }}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Mức độ:</label>
            <div class="col-sm-8">

                <mat-select class="form-control" formControlName="priority" placeholder="Mức độ">
                    <mat-option *ngFor="let priority of listMucdo" [value]="priority.value">
                        {{ priority.key }}
                    </mat-option>
                </mat-select>
                <span *ngIf="formErrors.priority" class="alert-danger">{{formErrors.priority}}</span>
            </div>
        </div>

        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Người giao việc:</label>
            <div class="col-sm-8">
                <mat-select class="form-control" formControlName="reporterId" placeholder="Người giao việc">
                    <mat-option *ngFor="let user of listNguoigiaoviec " [value]="user.accountId">
                        {{ user.accountName }}
                    </mat-option>
                </mat-select>
                <span *ngIf="formErrors.reporterId" class="alert-danger">{{formErrors.reporterId}}</span>
            </div>
        </div>

        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Giao cho:</label>
            <div class="col-sm-8">
                <mat-select class="form-control" formControlName="assignId" placeholder="Chọn người phụ trách">
                    <mat-option *ngFor="let user of listNguoinhanviec " [value]="user.accountId">
                        {{ user.accountName }}
                    </mat-option>
                </mat-select>
                <span *ngIf="formErrors.assignId" class="alert-danger">{{formErrors.assignId}}</span>
            </div>
        </div>

        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Người phối hợp:</label>
            <div class="col-sm-8">
                <mat-select class="form-control" formControlName="coopId" placeholder="Người phối hợp" multiple>
                    <mat-option *ngFor="let user of listNguoinhanviec " [value]="user.accountId">
                        {{ user.accountName }}
                    </mat-option>
                </mat-select>
            </div>
        </div>

        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Trạng thái:</label>
            <div class="col-sm-8">
                <mat-select class="form-control" formControlName="status" placeholder="Trạng thái">
                    <mat-option *ngFor="let status of listTrangthai" [value]="status.value">
                        {{ status.key }}
                    </mat-option>
                </mat-select>
                <span *ngIf="formErrors.status" class="alert-danger">{{formErrors.status}}</span>
            </div>
        </div>

        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Ngày bắt đầu:</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" formControlName="startedDate" placeholder="Ngày bắt đầu"
                        [matDatepicker]="picker1">
                    <div class="input-group-prepend reset-date">
                        <button mat-icon-button (click)="clearStartDate()" style="height: 100%;">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                    <mat-datepicker-toggle matSuffix [for]="picker1">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </div>
                <span *ngIf="formErrors.startedDate" class="alert-danger">{{formErrors.startedDate}}</span>
            </div>
        </div>

        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Ngày hết hạn:</label>
            <div class="col-sm-8">
                <div class="input-group">

                    <input class="form-control" formControlName="dueDate" placeholder="Ngày hết hạn"
                        [matDatepicker]="picker"
                        [disabled]="purpose === 'edit' && RoleConstants.NHOMROLENHANVIEN.includes(this.currentUser.role)">

                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                </div>
                <span *ngIf="formErrors.dueDate" class="alert-danger">{{formErrors.dueDate}}</span>
                <span *ngIf="!checkIssueDueDate" class="alert-danger">Ngày hoàn thành công việc không được lớn hơn ngày
                    hoàn thành nhiệm vụ!</span>
            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Tệp đính kèm:</label>
            <div class="col-sm-8">
                <input type="file" (change)="uploadFile($event.target.files)" class="form-control"
                    placeholder="Chọn file tải lên">
                <span *ngIf="percentDone != 0" class="alert-danger">Đã tải lên {{percentDone}}%</span>
            </div>
        </div>
        <div class="form-group row mx-0 pt-3 ">
            <div class="col-12">
                <button class="btn btn-sm btn-primary" (click)="onSubmit(purpose)" style="float: right;">
                    <i class="far fa-save"></i>
                    Lưu & Đóng
                </button>
                <button class="btn btn-sm btn-danger mr-3" (click)="closeIOSidebar()">
                    <i class="far fa-times-circle"></i> Hủy bỏ
                </button>
            </div>
        </div>
    </form>
</div>