table {
    width: 100%;
  }
  
  th.mat-header-cell, td.mat-cell {
      text-align: center;
      border: 1px solid #CCC;
      padding: 0 !important;
  }

  th.mat-header-cell {
      font-weight: 600;
      color: black;
  }
  .mat-form-field + .mat-form-field {
    margin-left: 10px;
  }