<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card>
            <mat-card-content>
                <h5>Báo cáo phòng ban/nhóm</h5>
                <div fxLayout fxLayoutAlign="start end">
                    <mat-form-field fxFlex="25%">
                        <mat-label>Chọn phòng ban/nhóm</mat-label>
                        <mat-select matInput [(ngModel)]="team">
                            <mat-option *ngFor="let teamm of listTeam" [value]="teamm.id">
                                {{ teamm.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="15%">
                        <mat-label>Từ ngày</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="timeFrom">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="15%">
                        <mat-label>Đến ngày</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="timeTo">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <button mat-stroked-button mat-button color="warn"
                        style="margin-bottom: 16px; margin-right: 20px; margin-left: 5px;" (click)="report()">
                        Xem báo cáo
                    </button>
                </div>
                <button class="mat-table-export-button m-2" style="float: right;" mat-stroked-button (click)="ExportTOExcel()">
                    Xuất Excel
                  </button>
                <div #TABLE>
                    <table mat-table [dataSource]="dataSource">

                        <!-- Position Column display none-->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.stt}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="No">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">STT</th>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Họ và tên </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.idAccount | GetNameByIdPipe: 'fullName': listAccount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="tong-so-congviec">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Tổng số công việc </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countAll}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ghi-chu">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Ghi chú </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.note}} </td>
                        </ng-container>

                        <!-- HIỆU QUẢ/ CHẤT LƯỢNG -->
                        <ng-container matColumnDef="cao">
                            <th mat-header-cell *matHeaderCellDef> Cao </th>
                            <td mat-cell *matCellDef="let element"> {{element.countChatluongCao.toFixed(2)}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dat">
                            <th mat-header-cell *matHeaderCellDef> Đạt </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countChatluongDat.toFixed(2)}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="thap">
                            <th mat-header-cell *matHeaderCellDef> Thấp </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countChatluongThap.toFixed(2)}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="chua-dam-bao">
                            <th mat-header-cell *matHeaderCellDef> Chưa đảm bảo</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countChatluongChuadambao.toFixed(2)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="chatluong-group">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="4"> Hiệu quả/Chất lượng (%) </th>
                        </ng-container>

                        <!-- TIẾN ĐỘ -->
                        <ng-container matColumnDef="vuot">
                            <th mat-header-cell *matHeaderCellDef> Vượt </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countTiendoVuot.toFixed(2)}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dung">
                            <th mat-header-cell *matHeaderCellDef> Đúng </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countTiendoDung.toFixed(2)}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cham">
                            <th mat-header-cell *matHeaderCellDef> Chậm</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countTiendoCham.toFixed(2)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="tiendo-group">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Tiến độ (%) </th>
                        </ng-container>

                        <!-- Nguyên nhân chậm -->
                        <ng-container matColumnDef="khach-quan">
                            <th mat-header-cell *matHeaderCellDef> Khách quan </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countNguyennhanKhachquan}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dieu-chinh">
                            <th mat-header-cell *matHeaderCellDef> BGĐ điều chỉnh tiến độ </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countNguyennhanDieuchinh}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="chu-quan">
                            <th mat-header-cell *matHeaderCellDef> Chủ quan</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countNguyennhanChuquan}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nguyennhan-group">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Nguyên nhân chậm tiến độ </th>
                        </ng-container>

                        <!-- Chấp hành -->
                        <ng-container matColumnDef="chaphanh-ot">
                            <th mat-header-cell *matHeaderCellDef> CH</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countChaphanhOT}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="khong-chaphanh-ot">
                            <th mat-header-cell *matHeaderCellDef> KCH</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.counKhongChaphanhOT}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="chaphanh-ttbc">
                            <th mat-header-cell *matHeaderCellDef> CH</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countChaphanhTTBC}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="khong-chaphanh-ttbc">
                            <th mat-header-cell *matHeaderCellDef> KCH</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.countKhongChaphanhTTBC}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ot-group">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Chấp hành điều động làm thêm giờ
                            </th>
                        </ng-container>
                        <ng-container matColumnDef="ttbc-group">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Chấp hành chế độ thông tin báo cáo
                            </th>
                        </ng-container>

                        <tr mat-header-row
                            *matHeaderRowDef="['No', 'name','chatluong-group', 'tong-so-congviec', 'tiendo-group', 'nguyennhan-group', 'ot-group', 'ttbc-group', 'ghi-chu']">
                        </tr>

                        <tr mat-header-row
                            *matHeaderRowDef="['cao', 'dat', 'thap', 'chua-dam-bao', 'vuot', 'dung', 'cham', 'khach-quan', 'dieu-chinh', 'chu-quan', 'chaphanh-ot', 'khong-chaphanh-ot', 'chaphanh-ttbc', 'khong-chaphanh-ttbc']">
                        </tr>

                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>