<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card>
            <mat-card-content>
                <h5>Báo cáo cá nhân</h5>
                <div fxLayout fxLayoutAlign="start end">
                    <!-- SU mode khi giám đốc hoặc su xem -->
                    <mat-form-field fxFlex="25%" *ngIf="this.mode=='su'">
                        <mat-label>Chọn phòng ban/nhóm</mat-label>
                        <mat-select matInput [(ngModel)]="team" (selectionChange)="getListNhanvienByTeam(team)">
                            <mat-option *ngFor="let teamm of listTeam" [value]="teamm.id">
                                {{ teamm.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="25%" *ngIf="this.mode=='su'">
                        <mat-label>Chọn nhân viên</mat-label>
                        <mat-select matInput [(ngModel)]="nhanvien">
                            <mat-option *ngFor="let nhanvien of listNhanvien" [value]="nhanvien.accountId">
                                {{ nhanvien.accountName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="25%" *ngIf="this.mode !=='su'">
                        <mat-label>Chọn nhân viên</mat-label>
                        <mat-select matInput [(ngModel)]="nhanvien">
                            <mat-option *ngFor="let nhanvien of listNhanvien" [value]="nhanvien.accountId">
                                {{ nhanvien.accountName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="15%">
                        <mat-label>Từ ngày</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="timeFrom">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="15%">
                        <mat-label>Đến ngày</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="timeTo">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <button mat-stroked-button mat-button color="warn"
                        style="margin-bottom: 16px; margin-right: 20px; margin-left: 5px;" (click)="report()">
                        Xem báo cáo
                    </button>
                </div>
                <button class="mat-table-export-button m-2" style="float: right;" mat-stroked-button (click)="ExportTOExcel()">
                    Xuất Excel
                  </button>
                <div #TABLE>
                    <table mat-table [dataSource]="dataSource">

                        <!-- Position Column display none-->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> </th>
                            <td mat-cell *matCellDef="let element"
                                [ngClass]="{'parent-task': (element.stt === 'I' || element.stt === 'II')}">
                                {{element.stt}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="No">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">STT</th>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Tên công việc </th>
                            <td mat-cell *matCellDef="let element"
                                [ngClass]="{'parent-task': (element.stt === 'I' || element.stt === 'II')}"
                                style="cursor: pointer;" (click)="view(element)">
                                {{element.title}} </td>
                        </ng-container>

                        <ng-container matColumnDef="dueDate">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Ngày yêu cầu hoàn thành </th>
                            <td mat-cell *matCellDef="let element"> {{element.dueDate | date:"dd/MM/yyyy"}} </td>
                        </ng-container>

                        <ng-container matColumnDef="finsihDate">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Ngày hoàn thành </th>
                            <td mat-cell *matCellDef="let element"> {{element.confirmDate | date:"dd/MM/yyyy"}} </td>
                        </ng-container>

                        <ng-container matColumnDef="coop">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Người phối hợp </th>
                            <td mat-cell *matCellDef="let element"> {{element.coopId | GetNameByArrayIdPipe: 'fullName':
                                listAccount}} </td>
                        </ng-container>
                        <ng-container matColumnDef="leader">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> LĐ phòng chỉ đạo</th>
                            <td mat-cell *matCellDef="let element"> {{idLeader| GetNameByIdPipe: 'fullName':
                                listAccount}} </td>
                        </ng-container>

                        <!-- HIỆU QUẢ/ CHẤT LƯỢNG -->
                        <ng-container matColumnDef="cao">
                            <th mat-header-cell *matHeaderCellDef> Cao </th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.ratingQuality == 3">x</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dat">
                            <th mat-header-cell *matHeaderCellDef> Đạt </th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.ratingQuality == 2">x</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="thap">
                            <th mat-header-cell *matHeaderCellDef> Thấp </th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.ratingQuality == 1">x</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="chua-dam-bao">
                            <th mat-header-cell *matHeaderCellDef> Chưa đảm bảo</th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.ratingQuality == 0">X</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="chatluong-group">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="4"> Hiệu quả/Chất lượng </th>
                        </ng-container>

                        <!-- TIẾN ĐỘ -->
                        <ng-container matColumnDef="vuot">
                            <th mat-header-cell *matHeaderCellDef> Vượt </th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.rateProgress == 2">x</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dung">
                            <th mat-header-cell *matHeaderCellDef> Đúng </th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.rateProgress == 1">x</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cham">
                            <th mat-header-cell *matHeaderCellDef> Chậm</th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.rateProgress == 0">x</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="tiendo-group">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Tiến độ </th>
                        </ng-container>

                        <!-- Nguyên nhân chậm -->
                        <ng-container matColumnDef="khach-quan">
                            <th mat-header-cell *matHeaderCellDef> Khách quan </th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.reasonLate == 0">x</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dieu-chinh">
                            <th mat-header-cell *matHeaderCellDef> BGĐ điều chỉnh tiến độ </th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.reasonLate == 1">x</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="chu-quan">
                            <th mat-header-cell *matHeaderCellDef> Chủ quan</th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.reasonLate == 2">x</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nguyennhan-group">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Nguyên nhân chậm tiến độ </th>
                        </ng-container>

                        <!-- Chấp hành -->
                        <ng-container matColumnDef="chaphanh_ot">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Chấp hành điều động làm thêm giờ
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.isChaphanhOt == true">x</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="chaphanh_ttbc">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Chấp hành chế độ TTBC</th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngIf="element.isChaphanhTtbc == true">x</p>
                            </td>
                        </ng-container>
                        <!-- Header row first group -->

                        <!-- Header row second group -->
                        <ng-container matColumnDef="header-row-second-group">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"> PHÂN CÔNG CÔNG VIỆC </th>
                        </ng-container>
                        <!-- Header row third group -->
                        <ng-container matColumnDef="danhgia">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="1" [attr.colspan]="12">ĐÁNH GIÁ CỦA
                                TRƯỞNG
                                PHÒNG</th>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="['No', 'header-row-second-group', 'danhgia']"></tr>
                        <tr mat-header-row
                            *matHeaderRowDef="[ 'name', 'dueDate', 'finsihDate', 'coop', 'leader', 'chatluong-group', 'tiendo-group', 'nguyennhan-group', 'chaphanh_ot', 'chaphanh_ttbc']">
                        </tr>
                        <tr mat-header-row
                            *matHeaderRowDef="['cao', 'dat', 'thap', 'chua-dam-bao', 'vuot', 'dung', 'cham', 'khach-quan', 'dieu-chinh', 'chu-quan']">
                        </tr>

                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>