.mat-form-field + .mat-form-field {
    margin-left: 10px;
}

.qua-han {
    color: rgb(235, 13, 13);
}

.mat-column-stt {
    width: 3%;
}

.mat-column-reporter_id {
  width: 10%;
}

.mat-column-idProject {
  width: 15%;
}

.mat-column-assign_id {
  width: 10%;
}

.mat-column-due_date {
  width: 8%;
}

.mat-column-confirm_date {
  width: 8%;
}

.mat-column-action {
  width: 15%;
}

