<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h5 *ngIf="!purpose">Thêm mới phòng ban/nhóm</h5>
<h5 *ngIf="purpose">Sửa phòng ban/nhóm</h5>
<mat-divider></mat-divider>
<div class="pt-3">
    <form [formGroup]="IOForm" class="pt-toolbar">
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Tên phòng ban:</label>
            <div class="col-sm-8">
                <input class="form-control" formControlName="name" placeholder="Tên phòng ban" />
                <span *ngIf="formErrors.name" class="alert-danger">{{formErrors.name}}</span>
            </div>
        </div>

        <!-- <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Dự án:</label>
            <div class="col-sm-8">
                <input class="form-control" formControlName="projectId" placeholder="Dự án" />

            </div>
        </div> -->

        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Trưởng phòng ban/nhóm:</label>
            <div class="col-sm-8">
                <mat-select placeholder="Chọn trưởng phòng ban/nhóm" class="form-control" formControlName="idLeader">
                    <mat-option value="">
                        ---Chọn trưởng phòng ban/nhóm---
                    </mat-option>
                    <mat-option *ngFor="let user of listLeader " [value]="user.id">
                        {{ user.fullName }}
                    </mat-option>
                </mat-select>

            </div>
        </div>
        <div class="form-group row mx-0 pt-3 ">
            <div class="col-12">
                <button class="btn btn-sm btn-primary" (click)="onSubmit(purpose)" style="float: right;">
                    <i class="far fa-save"></i>
                    Lưu & Đóng
                </button>
                <button class="btn btn-sm btn-danger mr-3" (click)="closeIOSidebar()">
                    <i class="far fa-times-circle"></i> Hủy bỏ
                </button>
            </div>
        </div>
    </form>
</div>