mat-icon.mat-card-avatar {
    width: 48px;
    height: 48px;
    font-size: 48px;
}

.dashboard {
    background-color: aliceblue;
}
.dashboard-card:hover {
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    cursor: pointer;
}

.dashboard-card {
    height: 160px;
}

.card-text {
    text-align: center;
    font-size: 60px;
    color: #ee5858;
}

.mat-card-header {
    color: rgb(25 59 114 / 87%);
}
