<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card class="dashboard">
            <mat-card-content>
                <!-- <h5>Chào mừng, {{currentAccount.fullName}}</h5> -->
                <div class="row pt-2">
                    <div class="dashboard-left col-5">
                        <mat-card class="dashboard-card" [routerLink]="['/admin/issue/1', {type: 0, status: 4}]">
                            <mat-card-header>
                                <mat-icon mat-card-avatar>alarm_off</mat-icon>
                                <mat-card-title>Công việc quá hạn</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="card-text">{{countDashboard?.countQuaHan}}</p>
                            </mat-card-content>
                        </mat-card>
                        <br>
                        <mat-card class="dashboard-card" [routerLink]="['/admin/issue/1', {type: 0, status: 3}]">
                            <mat-card-header>
                                <mat-icon mat-card-avatar>hourglass_empty</mat-icon>
                                <mat-card-title>Công việc cần xử lý</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="card-text">{{countDashboard?.countChuahoanthanh}}</p>
                            </mat-card-content>
                        </mat-card>
                        <br>
                        <mat-card class="dashboard-card" [routerLink]="['/admin/issue/1', {type: 0, status: 1}]">
                            <mat-card-header>
                                <mat-icon mat-card-avatar>done_all</mat-icon>
                                <mat-card-title>Công việc đã hoàn thành</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="card-text">{{countDashboard?.countHoanthanh}}</p>
                            </mat-card-content>
                        </mat-card>
                        <br>
                        <mat-card class="dashboard-card" [routerLink]="['/admin/issue/1', {type: 0, status: 6}]">
                            <mat-card-header>
                                <mat-icon mat-card-avatar>schedule_send</mat-icon>
                                <mat-card-title>Công việc đã hoàn thành quá hạn</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p class="card-text">{{countDashboard?.countHoanThanhQuaHan}}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="dashboard-right col-7">
                        <mat-card style="height:100%; ">
                        <mat-card-content>
                            <div [chart]="chart"></div>
                        </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>