<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>
        Hệ thống quản lý công việc
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
      <mat-icon matBadge="2" matBadgeColor="accent">notifications</mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item>
        <span>You have new tasks</span>
      </a>
      <a mat-menu-item>
        <span>You have a new message</span>
      </a>

    </mat-menu>



    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        {{user.fullName}}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>Account</span>
      </a>

      <a mat-menu-item (click)="logoutAdmin()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            dashboard
          </mat-icon>
          <p mat-line> Bảng điều khiển </p>
        </a>
        
        <mat-expansion-panel mat-list-item [class.mat-elevation-z0]="true" dense >

          <mat-expansion-panel-header class="multi-menu-header" >
            <mat-icon mat-list-icon class="menu-icon">
              admin_panel_settings
            </mat-icon>
            Quản trị
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a mat-list-item [routerLink]="['/quantri/teams']" routerLinkActive="active">
              <mat-icon class="menu-icon">people_outline</mat-icon>Phòng ban/Nhóm
            </a>
            <a mat-list-item [routerLink]="['/quantri/role']" routerLinkActive="active">
              <mat-icon class="menu-icon">psychology</mat-icon>Vai trò
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        
        <!-- Nhiệm vụ chuyên môn -->
        <a mat-list-item [routerLink]="['/issue']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            receipt_long
          </mat-icon>
          <p mat-line> Nhiệm vụ chuyên môn </p>
        </a>

        <!-- Thành viên -->
        <a mat-list-item [routerLink]="['/member']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            groups
          </mat-icon>
          <p mat-line>Danh sách thành viên </p>
        </a>

        <mat-divider></mat-divider>

      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>