<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card>
            <mat-card-content>
                <h5>Danh sách thành viên</h5>
                <button mat-stroked-button mat-button color="primary" style="float:left;" (click)="showPopup()"> Thêm
                    thành viên </button>
                <div fxLayout fxLayoutAlign="end start">
                    <mat-form-field fxFlex="25%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Tìm kiếm">
                    </mat-form-field>
                </div>
                <table mat-table [dataSource]="dataSource" matSort>


                    <ng-container matColumnDef="stt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                        <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
                    </ng-container>


                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ và Tên </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>


                    <ng-container matColumnDef="sodienthoai">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
                        <td mat-cell *matCellDef="let element"> {{element.sodienthoai}} </td>
                    </ng-container>

                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên đăng nhập </th>
                        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vai trò </th>
                        <td mat-cell *matCellDef="let element"> {{ element.role | GetValueByKeyPipe: 'roleName' :
                            'roleLabel' : listRole }} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Hành động </th>
                        <td mat-cell *matCellDef="let element">
                            <button [disabled]="element.userName=='su' || currentAccount.role != 'SU'" color="primary" mat-icon-button
                                (click)="resetPassword(element)">
                                <mat-icon class="mat-18">lock_reset</mat-icon>
                            </button>
                            <button [disabled]="element.userName=='su'" color="primary" mat-icon-button
                                (click)="editMember(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                            </button>

                            <button [disabled]="element.userName ==='su'" color="warn" mat-icon-button
                                (click)="deleteMember(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </mat-card-content>
        </mat-card>

    </div>
</div>