<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h5 *ngIf="!purpose">Thêm mới nhiệm vụ chuyên môn</h5>
<h5 *ngIf="purpose">Sửa nhiệm vụ chuyên môn</h5>
<mat-divider></mat-divider>
<div class="pt-3">
    <form [formGroup]="IOForm" class="pt-toolbar">
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Lĩnh vực:</label>
            <div class="col-sm-8">
                <mat-select placeholder="Chọn lĩnh vực" class="form-control" formControlName="idLinhvuc">
                    <mat-option value="">
                        ---Chọn lĩnh vực---
                    </mat-option>
                    <mat-option *ngFor="let linhvuc of listCategory " [value]="linhvuc.id">
                        {{ linhvuc.name }}
                    </mat-option>
                </mat-select>


            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Tên nhiệm vụ:</label>
            <div class="col-sm-8">
                <input class="form-control" formControlName="name" placeholder="Tên nhiệm vụ" />
                <span *ngIf="formErrors.name" class="alert-danger">{{formErrors.name}}</span>
            </div>
        </div>

        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Thời gian bắt đầu:</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" formControlName="start" placeholder="Thời gian bắt đầu"
                        [matDatepicker]="pickerStart">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart">
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </div>
            </div>
        </div>

        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Thời gian kết thúc:</label>
            <div class="col-sm-8 ">
                <div class="input-group">
                    <input class="form-control" formControlName="end" placeholder="Thời gian kết thúc"
                        [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Giám đốc/Phó giám đốc:</label>
            <div class="col-sm-8">
                <mat-select placeholder="Chọn giám đốc/phó giám đốc" class="form-control" formControlName="idGiamdoc">
                    <mat-option value="">
                        ---Chọn giám đốc/phó giám đốc---
                    </mat-option>
                    <mat-option *ngFor="let account of listGiamdoc " [value]="account.id">
                        {{ account.fullName }}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Phòng ban/nhóm:</label>
            <div class="col-sm-8">
                <mat-select placeholder="Chọn phòng ban/nhóm" class="form-control" formControlName="idTeam" (selectionChange)="getTeamMember('add')">
                    <mat-option value="">
                        ---Chọn phòng ban/nhóm---
                    </mat-option>
                    <mat-option *ngFor="let team of listTeam " [value]="team.id">
                        {{ team.name }}
                    </mat-option>
                </mat-select>


            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Cá nhân phụ trách:</label>
            <div class="col-sm-8">
                <mat-select placeholder="Chọn cá nhân phụ trách" class="form-control" formControlName="idLeader">
                    <mat-option value="">
                        ---Chọn cá nhân phụ trách---
                    </mat-option>
                    <mat-option *ngFor="let user of listLeader " [value]="user.accountId">
                        {{ user.accountName }}
                    </mat-option>
                </mat-select>


            </div>
        </div>
        <div class="form-group row mx-0 pt-3 ">
            <div class="col-12">
                <button class="btn btn-sm btn-primary" (click)="onSubmit(purpose)" style="float: right;">
                    <i class="far fa-save"></i>
                    Lưu & Đóng
                </button>
                <button class="btn btn-sm btn-danger mr-3" (click)="closeIOSidebar()">
                    <i class="far fa-times-circle"></i> Hủy bỏ
                </button>
            </div>
        </div>
    </form>
</div>